$color-primario: #1b1b1c;
$color-secundario: #f9d600;
$color-fondo: #f0f0f0;
$color-texto: #333;
$color-blanco: #fff;
$color-negro-translucido: rgba(0, 0, 0, 0.75);
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);